code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  flex: 1;
}

.particalizor-3000-destination-canvas {
  max-width: 100%;
  max-height: 100%;
}